html{
    background-color: black;
    font-family: monospace;
}

h1{
    color: white;
    text-align: center;
    margin-top: 50px;
}

section.visual-time{
    margin-top: 100px;    
}

div.time-indic{
    background-color: white;
    display: block;
    text-align: center;
    width: 20px;
    min-height: 100px;
    clear: both;
    margin: 0 auto;
    margin-bottom: 20px;
}